# Environment variables
.env
.env.my

# Logs
logs/

# Database
pg_data/

# Virtual environments
venv/

# Terraform state
terraform.tfstate
terraform.tfstate.backup
.terraform/
.tfvars

# Python cache files
__pycashe__/
*.pyc

# dbt's anonymous usage tracking
.User.yml